*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main [class^="col-"]{
    background-color: violet;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.nest{
    width: 100%;
}

.nested {
    background-color: rosybrown;
    height: 30px;
}


